apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: varpulis-dev

namePrefix: dev-

resources:
  - ../../base

patches:
  - path: deployment-patch.yaml
    target:
      kind: Deployment
      name: varpulis

images:
  - name: varpulis/varpulis
    newTag: dev

labels:
  - pairs:
      environment: development
    includeSelectors: false
