apiVersion: v1
kind: Service
metadata:
  name: varpulis
spec:
  type: NodePort
  ports:
    - name: http
      port: 9000
      targetPort: 9000
      protocol: TCP
    - name: metrics
      port: 9090
      targetPort: metrics
      protocol: TCP
